name: Template Sync
on:
  schedule:
  - cron:  "0 16 * * *"
  workflow_dispatch:
jobs:
  repo-sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: read
    steps:
      - name: Checkout
        uses: actions/checkout@main
        env:
          workflow_token: ${{ secrets.WORKFLOW_TOKEN }}
        if: ${{ env.workflow_token != '' }}
        with:
          token: ${{ secrets.WORKFLOW_TOKEN }}

      - name: Sync from template
        uses: AndreasAugustin/actions-template-sync@main
        env:
          workflow_token: ${{ secrets.WORKFLOW_TOKEN }}
          SOURCE_REPO_PATH: mementomoryn/twitter-apk
          UPSTREAM_BRANCH: master
        if: ${{ env.workflow_token != '' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          source_repo_path: ${{ env.SOURCE_REPO_PATH }}
          upstream_branch: ${{ env.UPSTREAM_BRANCH }}
          pr_title: "chore(template_sync): Auto merge new changes from ${{ env.SOURCE_REPO_PATH }}"
          pr_body: >
            Auto-generated pull request merge from branch `${{ env.UPSTREAM_BRANCH }}` on [`${{ env.SOURCE_REPO_PATH }}@${TEMPLATE_GIT_HASH}`](https://github.com/${{ env.SOURCE_REPO_PATH }}/tree/${TEMPLATE_GIT_HASH}) repository.
          pr_labels: template_sync
          pr_reviewers: mementomoryn
          pr_commit_msg: "chore(template_sync): commit new template changes from ${{ env.SOURCE_REPO_PATH }}"
          is_force_push_pr: true